Why Lean MongoDb AT all? 
    
   Big Bonus: You don't have to have your data structured in mongodb before you start dropping stuff in there. 
    <img src="mongodb-json.png">
    MySQL and other relational databases have you create a strict schema before you can start dropping information in there. 
    <img src="Table-768x166.png">

    
   If your're more comfortable with JSON than SQL, and you're working at a place that doesn't have any sort of database set up, you might want to use MongoDB 
    
   Downsides:
    No join Statement!
    <img src='LUL.jpeg'>
    
   Mongo is better at pulling data out while MYSQL is better at inserting and updating data. 
   <img src='Add-subheading-1-1-768x402.png'>
   
   Here's a general case visualization of when to use either tool.
   <img src='mongodb-vs-mysql-1.png'>
   
   Find out more at: 
   https://dzone.com/articles/comparing-mongodb-amp-mysql

Setting up mongodb:

conda install mongodb

mongo

db.help()

db.test.help()

conda install mongodb

In [2]:
!pip install pymongo #install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/0c/39/0ac214d6b0b716ab9e47e72ddb9c7eb6d0d2599d066200eaeba72bebee9a/pymongo-3.8.0-cp36-cp36m-macosx_10_9_x86_64.whl (314kB)
    100% |████████████████████████████████| 317kB 23.2MB/s ta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.8.0
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
#
print(myclient.list_database_names())

['admin', 'config', 'example_database', 'local', 'test']

In [3]:
mydb = myclient['example_database']

MY SQL provides tables, while mongodb has collections

In [26]:
print(mydb.get_collection_names)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'example_database'), 'get_collection_names')

This will not work because mongodb is lazy and doesn't actually create a collection until some information has been added.

In [24]:
mycollection=mydb['example_collection']
mycollection

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'example_database'), 'example_collection')

In [25]:
mydb.get_collection_names

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'example_database'), 'get_collection_names')

"""Now we talk about C R U D
                     R E P E
                     E A D L
                     A D A E
                     T   T T
                     E   E E"""

To insert data we use .insert_one

In [7]:
example_customer_data = {'name': 'John Doe', 'address': '123 elm street', 'age': 28}

results = mycollection.insert_one(example_customer_data)
results

In [8]:
results.inserted_id

ObjectId('5d1458fd8630c1740a1e32d3')

We can insert multiple things at once if the data is coerced into a list by using insert_many

In [9]:
customer_2 = {'name': 'Jane Doe', 'address': '234 elm street', 'age': 7}
customer_3 = {'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
customer_4 = {'name': 'John Doe jr.', 'address': '', 'age': 0.5}

list_of_customers = [customer_2, customer_3, customer_4]

results_2 = mycollection.insert_many(list_of_customers)

In [10]:
results_2.inserted_ids

[ObjectId('5d1459568630c1740a1e32d4'),
 ObjectId('5d1459568630c1740a1e32d5'),
 ObjectId('5d1459568630c1740a1e32d6')]

QUERYING DATA

In [11]:
query_1 = mycollection.find({})
for x in query_1:
    print(x)

{'_id': ObjectId('5d1458fd8630c1740a1e32d3'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28}
{'_id': ObjectId('5d1459568630c1740a1e32d4'), 'name': 'Jane Doe', 'address': '234 elm street', 'age': 7}
{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
{'_id': ObjectId('5d1459568630c1740a1e32d6'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

In [12]:
query_2 = mycollection.find({}, {'_id': 1, 'name': 1, 'address': 1})
for item in query_2:
    print(item)

{'_id': ObjectId('5d1458fd8630c1740a1e32d3'), 'name': 'John Doe', 'address': '123 elm street'}
{'_id': ObjectId('5d1459568630c1740a1e32d4'), 'name': 'Jane Doe', 'address': '234 elm street'}
{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole'}
{'_id': ObjectId('5d1459568630c1740a1e32d6'), 'name': 'John Doe jr.', 'address': ''}

In [13]:
query_3 = mycollection.find({}, {'age': 0})
for item in query_3:
    print(item)

{'_id': ObjectId('5d1458fd8630c1740a1e32d3'), 'name': 'John Doe', 'address': '123 elm street'}
{'_id': ObjectId('5d1459568630c1740a1e32d4'), 'name': 'Jane Doe', 'address': '234 elm street'}
{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole'}
{'_id': ObjectId('5d1459568630c1740a1e32d6'), 'name': 'John Doe jr.', 'address': ''}

In [14]:
query_4 = mycollection.find({'name': 'Santa Claus'})
for item in query_4:
    print(item)

{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}

if you want to get information about someone over an age we can use the $gt modifier and 


$lt for less than

In [15]:
query_5 = mycollection.find({"age": {"$gt": 20}})
for item in query_5:
    print(item)

{'_id': ObjectId('5d1458fd8630c1740a1e32d3'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28}
{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}

In [20]:
query_5 = mycollection.find({"age": {"$lt": 20}})
for item in query_5:
    print(item)

{'_id': ObjectId('5d1459568630c1740a1e32d6'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

When updating data, we want to use $set as the key ad a dictonary containing the key-value pair we'd like to update.

In [21]:
record_to_update = {'name' : 'John Doe'}
update_1 = {'$set': {'age': 29}}
update_2 = {'$set': {'birthday': '02/20/1986'}}

mycollection.update_one(record_to_update, update_1)
mycollection.update_one(record_to_update, update_2)
query_6 = mycollection.find({'name': 'John Doe'})
for item in query_6:
    print(item)

Deleting Data requires the usage of delete_one for one and delete_many for multiple rows.

In [17]:
deletion_1 = mycollection.delete_one({'name': 'John Doe'})
print(deletion_1.deleted_count)

1

In [18]:
deletion_2 = mycollection.delete_one({'age': {'$lt': 10}})
print(deletion_2.deleted_count)

1

In [19]:
query_6 = mycollection.find({})
for item in query_6:
    print(item)

{'_id': ObjectId('5d1459568630c1740a1e32d5'), 'name': 'Santa Claus', 'address': 'The North Pole', 'age': 547}
{'_id': ObjectId('5d1459568630c1740a1e32d6'), 'name': 'John Doe jr.', 'address': '', 'age': 0.5}

In [21]:
mycollection.delete_many({})